# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# vscode
.vscode

# java
*.class
*.jar
*.hprof

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

# custom / env variable for unit test
*.secret
logs


repo
